.container-content_left{
  display: flex;
  flex: 0 1 40%;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 720px) {
  .container-content_left{
    display: flex;
    flex: 0 1 0%;
  }
}
.container__comment{
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
}